.dropdown {
  height: 100px;
  overflow-y: auto;
  cursor: pointer;

  &:hover,
  &.active {
    background-color: var(--background-hover);
  }

  &.active {
    color: var(--text-primary);
  }
}

.searchBar {
  width: 100%;
}
