.styledColorArea{
    width: 150px;
    height: 150px;
    border-radius: 1em;
}


.ariaColorThumb {
    border: 5px solid white;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
  
    &[data-focus-visible] {
      width: 15px;
      height: 15px;
    }
  }