//for type generation testing

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color, #ffffff);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.component {
    margin-top: 5rem;
    width: fit-content;
    padding: 1rem;
    border: 1px solid red;
}
