@import '@/styles/color';

.toolbarBtnContainer {
  position: relative;
  padding: 1em;
  width: 100%;
  border: none;
  border-radius: 0.4em;
  background-color: $whiteCedar;
  border: $aria 1px solid;
  &:hover {
    background-color: $bleachedSilk;
    cursor: pointer;
  }

  span {
    font-size: 1.1rem;
  color: $white;;
  }
}
